.navbar{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    box-shadow: 2px 1px 2px #eee;
}

ul{
    list-style-type: none;
}

.nav-links>div{
    padding: 20px;
    color: #666;
    
}

a{
    text-decoration: none;
    
}